anyio==4.9.0
arrow==1.3.0
asgiref==3.8.1
binaryornot==0.4.4
blinker==1.9.0
buildozer==1.5.0
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cookiecutter==2.6.0
cycler==0.12.1
Cython==3.0.12
distlib==0.3.9
Django==5.2
docutils==0.21.2
et_xmlfile==2.0.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.0
flask-cors==5.0.1
fonttools==4.53.1
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.2.0
Jinja2==3.1.6
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
mysql-connector-python==9.2.0
networkx==3.3
numpy==2.1.1
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.7
ptyprocess==0.7.0
Pygments==2.19.1
pyparsing==3.1.4
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pywin32==310
PyYAML==6.0.2
reportlab==4.3.1
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==14.0.0
sh==2.2.2
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.3
text-unidecode==1.3
tweepy==4.9.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.1
uv==0.7.2
virtualenv==20.30.0
Werkzeug==3.1.3
youtube-dl==2021.12.17
yt-dlp==2025.4.30
